<html>
<head>
  <title>Growler App</title>
</head>
</body>
  <style>
    .headers{
      font-family: 'Arial';
      margin: 0;
    }
    .accent-color {
      color: #aa6a00;
    }
  </style>
  <div id="growler">
    <h2 v-once v-bind:style="appStyle">{{appName}}</h2>
    <h2 v-bind:style="[accentColor, headers]" v-text="appName"></h2>
    <h2 v-bind:class="[accentColorClass, headersClass]" v-text="appName"></h2>
    <input v-model="query" placeholder="Search..." /><br />
    <div>Searchin for: {{query}}</div>
    <label>
      <input type="checkbox" value="beers" v-model="searchIndexes" />
      Beers
    </label>
    <br />
    <label>
      <input type="checkbox" value="breweries" v-model="searchIndexes" />
      Breweries
    </label>
    <br />
    <small>
      Selected: {{searchIndexes}}
    </small>
    {{ message }}
  </div>
  <script type="text/javascript" src="https://unpkg.com/vue@2.2.5/dist/vue.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
  <script type="text/javascript">
    var growler = new Vue({
      el: '#growler',
      data: {
        appName: 'Growler',
        appStyle: {
          color: '#ff6a00',
          fontFamily: 'Verdana', // replace the kebab style to camel style for css properties
          margin: 0
        },
        accentColor: {
          color: '#cc6a00',
        },
        headers: {
          fontFamily: 'Arial', // replace the kebab style to camel style for css properties
          margin: 0
        },
        accentColorClass: 'accent-color',
        headersClass: 'headers',
        query: '',
        searchIndexes: [],
        message: 'Hello Vue!'
      }
    });
    // GET /someUrl
    //Vue.http.get('http://localhost:5984/formatos_practicas/6249e963c367f1c6bf9dd1fb34000583').then(response => {
      // get body data
      //this.someData = response.body;
      //console.log(this.someData);
    //}, response => {
      // error callback
    //});
  </script>
</body>
</html>
